@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: rgb(51, 50, 50);
}

.L0 {
  border: 2px solid #cb76dd;
  padding: 5px;
  margin: 0 auto;
  width: 555px;
  height: auto;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
}

.L1 {
  padding-left: 5px;
  padding-right: 5px;
}

.L3 {
  padding: 3px;
}

input {
  width: 30px;
  border-color: #88389c;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

.step {
  width: 40px;
}

.h {
  display: inline-block;
 
}

.varia > div > div {
  height: 20px;
}

.varia > div {
  margin: auto 10px;
}

.variant-title {
  padding-top: 10px;
  text-align: center;
}

.internal-box {
  margin: 10px auto;
  color: #88389c
}

.button-box {
  padding-left: 20px;
}

.titles {
  text-align: center;
}

.first-line {
  padding-left: 16px;
}

.third-line {
  padding-left: 35px;
}

button {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 0 5px;
  background-color: #380b46;
  font-size: 16px;
  height: 25px;
}

.variant-side {
  border-left: 1px solid #ed96ff;
}

.heads {
  font-weight: bold;
  font-size: 16px;
  color: #511661;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #a957bc;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  margin-right: 4px;
}

/* Style the custom checkbox */
input[type="checkbox"]:checked {
  background-color: #511661;;
  border-color: white;
}

/* Style the checkbox when hovered */
input[type="checkbox"]:hover {
  background-color: white;
  border-color: #511661;
}

/* Style the checkbox when checked and hovered */
input[type="checkbox"]:checked:hover {
  background-color: #511661;
  border-color: #511661;
}

.current-block {
  border: 2px solid #cb76dd;
  padding: 5px;
  margin: 0 auto;
  width: 180px;
  height: 195px;
  position: fixed;
  bottom: 10px;
  right: 600px;
  border-radius: 10px;
}

.block-itself {
  border: 2px solid #cb76dd;
  width: 60px;
  height: 25px;
  border-radius: 10px;
}
