@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: rgb(51, 50, 50);
}

.L0 {
  border: 1px solid gray;
  padding: 5px;
  margin: 0 auto;
  width: 550px;
  height: 180px;
  
}

.L3 {
  padding: 3px;
}

input {
  width: 30px;
}

.step {
  width: 40px;
}

.h {
  display: inline-block;
 
}

.add-block {
  margin: 3px;
}

.varia > div > div {
  height: 20px;
}