@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: rgb(51, 50, 50);
}

.L0 {
  border: 1px solid gray;
  padding: 5px;
  margin: 0 auto;
  width: 550px;
  height: auto;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.L3 {
  padding: 3px;
}

input {
  width: 30px;
}

.step {
  width: 40px;
}

.h {
  display: inline-block;
 
}

.varia > div > div {
  height: 20px;
}

.variant-title {
  padding-top: 10px;
  text-align: center;
}

.internal-box {
  margin: 10px auto;
}

.button-box {
  padding-left: 20px;
}

.titles {
  text-align: center;
}

.first-line {
  padding-left: 16px;
}

.third-line {
  padding-left: 35px;
}