@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: rgb(51, 50, 50);
}

.L0 {
  border: 2px solid #cb76dd;
  padding: 5px;
  margin: 0 auto;
  width: 515px;
  height: auto;
  position: fixed;
  bottom: 10px;
  right: 130px;
  border-radius: 10px;
}

.L1 {
  padding-left: 5px;
  padding-right: 5px;
}

.L3 {
  padding: 3px;
}

input {
  width: 30px;
  border-color: #88389c;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

.step {
  width: 40px;
}

.h {
  display: inline-block;
 
}

.varia > div > div {
  height: 20px;
}

.varia > div {
  margin: auto 5px;
}

.variant-title {
  padding-top: 10px;
  text-align: center;
}


.internal-box {
  margin: 10px auto;
  color: #88389c
}

.button-box {
  padding-left: 20px;
}

.titles {
  text-align: center;
}

.first-line {
  padding-left: 16px;
}

.third-line {
  padding-left: 35px;
}

button {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 0 5px;
  background-color: #380b46;
  font-size: 16px;
  height: 25px;
}

.variant-side {
  border-left: 1px solid #ed96ff;
}

.heads {
  font-weight: bold;
  font-size: 16px;
  color: #511661;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #a957bc;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  margin-right: 4px;
}

input[type="checkbox"]:checked {
  background-color: #511661;;
  border-color: white;
}

input[type="checkbox"]:hover {
  background-color: white;
  border-color: #511661;
}

input[type="checkbox"]:checked:hover {
  background-color: #511661;
  border-color: #511661;
}

.current-block {
  border: 2px solid #cb76dd;
  padding: 5px;
  margin: 0 auto;
  width: 120px;
  height: 38px;
  position: fixed;
  bottom: 230px;
  right: 10px;
  border-radius: 10px;
  font-size: 18px;
  max-width: 120px; 
  overflow-x: auto; 
  white-space: nowrap; 
}


.current-phrase {
  border: 2px solid #cb76dd;
  padding: 5px;
  margin: 0 auto;
  width: 495px;
  height: 38px;
  position: fixed;
  bottom: 230px;
  right: 150px;
  border-radius: 10px;
  font-size: 18px;
  max-width: 495px; 
  overflow-x: auto; 
  white-space: nowrap;
}

.phrase-tag {
  position: fixed;
  padding: 5px;
  margin: 0 auto;
  width: 495px;
  height: 25px;
  bottom: 280px;
  right: 150px;
  text-align: center;
  color: #380b46;

}

.block-tag {
  padding: 5px;
  margin: 0 auto;
  width: 120px;
  height: 25px;
  position: fixed;
  bottom: 280px;
  right: 10px;
  text-align: center;
  color: #380b46;
}

.nav-input {
  width: 30px;
}

.current-step {
  border: 2px solid #cb76dd;
  padding: 5px;
  margin: 0 auto;
  width: 635px;
  height: 185px;
  position: fixed;
  bottom: 313px;
  right: 10px;
  border-radius: 10px;
  font-size: 18px;
  max-height: 200px;
  overflow-y: auto;
  max-width: 635px; 
  overflow-x: auto; 
  white-space: nowrap; 
}

.step-tag {
  padding: 5px;
  margin: 0 auto;
  width: 635px;
  height: 25px;
  position: fixed;
  bottom: 512px;
  right: 10px;
  text-align: center;
  color: #380b46;
}

.open-class-button {
  /*11*/
  position: fixed;
  right: 70px;
  bottom: 190px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.save-class-button {
  /*12*/
  position: fixed;
  right: 10px;
  bottom: 190px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.open-step-button {
  /*21*/
  position: fixed;
  right: 70px;
  bottom: 153px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.save-step-button {
  /*22*/
  position: fixed;
  right: 10px;
  bottom: 153px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.add-phrase-button {
  /*31*/
  position: fixed;
  right: 70px;
  bottom: 116px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.delete-phrase-button {
  /*32*/
  position: fixed;
  right: 10px;
  bottom: 116px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.add-step-button {
  /*41*/
  position: fixed;
  right: 70px;
  bottom: 79px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.delete-step-button {
  /*42*/
  position: fixed;
  right: 10px;
  bottom: 79px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.reset-block-button {
  /*51*/
  position: fixed;
  right: 70px;
  bottom: 42px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.reset-phrase-button {
  /*52*/
  position: fixed;
  right: 10px;
  bottom: 42px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.reset-step-button {
  /*61*/
  position: fixed;
  right: 70px;
  bottom: 5px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}

.reset-class-button {
  /*62*/
  position: fixed;
  right: 10px;
  bottom: 5px;
  width: 58px;
  height: 35px;
  font-size: 15px;
}





.class-tag {
  padding: 5px;
  margin: 0 auto;
  width: 670px;
  height: 25px;
  position: fixed;
  bottom: 512px;
  right: 670px;
  text-align: center;
  color: #380b46;
}

.current-class {
  border: 2px solid #cb76dd;
  padding: 5px;
  margin: 0 auto;
  width: 670px;
  height: 490px;
  position: fixed;
  bottom: 10px;
  right: 670px;
  border-radius: 10px;
  font-size: 18px;
  max-height: 490px;
  overflow-y: auto;
  max-width: 670px; 
  overflow-x: auto; 
  white-space: nowrap;
}

.log-master {
  width: 130px;
}

.log-country{
  width: 80px;
}

.log-year {
  width: 40px;
}

.log-mounth {
  width: 95px;
}

.log-day {
  width: 20px;
}

.stage-input, .kind-input {
  width: 150px;
}

.kind-input {
  width: 100px;
}

#place-input, #hip-input, #head-input, #number-input {
  width: 35px;
}

input[type="number"] {
  -moz-appearance: textfield; 
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.roman-div {
  width: 50px;
  display: inline-block;
}

.master-div, .mounth-div, .day-div, .year-div, .country-div {
  width: fit-content;
  display: inline-block;
}

pre {
  padding: 0;
  margin: 0;
}

button:disabled {
  color: #666;  
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 5px;
  background-color: #a276af;
  font-size: 16px;
  height: 25px;
}